@model IEnumerable<EventManagement_Frontend.Models.EventModel>

<html>
<head>
    <style>
        .header {
            padding: 10px;
            text-align: center;
            background: #4b0082;
            color: white;
            font-size: 24px;
        }

        .footer {
            padding: 5px;
            text-align: center;
            background: #4b0082;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #4b0082;">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EventManagementApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Index">Home</a>
                        @*   </li>
                        <li class="nav-item" style=" margin-left: 1100px;">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="EventAppPage">Logout</a>
                        </li> *@
                    <li>
                        <form class="form-inline mt-2 mt-md-0" asp-controller="Home" asp-action="EventAppPage" method="get">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style=" margin-left: 1100px;">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br/>
    <br />
    <br />

<a asp-action="Create" class="btn btn-primary">Add New Event</a>


    <table class="table table-striped">
        <thead>
           <tr>
                  <th>EventId</th>  

                <th>CategoryId</th>
                <th>EventName</th>
                 <th>Decription</th> 
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>Price</th>
                <th>ImageUrl</th>
                <th>Rating</th>
                <th>TotalTicket</th>
                <th>Availble Ticket</th>
               
                <th>Update</th>
                <th>Delete</th>
           </tr>
         </thead>
         <tbody>
          @foreach (var eventModel in Model)
         {
          <tr>
                  <td>@eventModel.EventId</td>
                <script>console.log(@eventModel.EventId)</script>
                    <td>@eventModel.CategoryId</td>
                    <td>@eventModel.EventName</td>
                    <td>@eventModel.Description</td> 
                    <td>@eventModel.StartDate</td>
                    <td>@eventModel.EndDate</td>
                    <td>@eventModel.Location</td>
                    <td>@eventModel.Price</td>
                    <td><img src="@eventModel.ImageURL" height="200" width="200" style="border-radius:50%;" alt="something went wrong"/></td>
                    <td>@eventModel.Rating</td>
                    <td>@eventModel.TotalTickets</td>
                    <td>@eventModel.AvailableTickets</td>
                    <td>
                        <a asp-controller="Event" asp-action="Edit" asp-route-id="@eventModel.EventId" class="btn btn-warning">Edit</a>
                    </td>
                <td><form asp-action="Delete" asp-route-id="@eventModel.EventId" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger" asp-action="AdminIndex"
                            onclick="return confirm('Are you sure you want to delete this category?');">
                        Delete
                    </button>
                </form>></td>

          </tr>
         }
        </tbody>
    </table>
@* <div class="footer">
    &copy; 2024 Event Management. All rights reserved.

 </div>  *@
 </body>
</html>


